.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  font-size: 14px;
}
.one {
  color: white;
  background-color: #0071E3;
  padding-top: 48px;
}

.two {
  color: #1d1d1f;
  background-color: #f5f5f7;
}

.two span {
  color: #06c;
}

h2, h3, p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 734px){
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 12px;
    /* margin-right: 24px;
    margin-left: 12px; */
  }
}