.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  height: auto;
  width: 100%;
  font-size: 14px;
  color: #1d1d1f;
  background-color: #f5f5f7;
}

.banner div {
  padding: 10px 0px;
  width: 82.5%;
  max-width: 600px;

}

.banner span {
  color: #06c;
}

h2, h3, p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 734px){
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 50% auto; */
    width: calc(100% - 24px);
    left: 12px;
    grid-gap: 12px;
  }

  .grid div:nth-child(1), .grid div:nth-child(2){
    margin-bottom: 0px;
  }

  .banner div {
    padding: 12px 20px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,0.48);
  }

}