.container {
    width: 100%;
    background-color: #2F2F2F;
    position: fixed;
}

.container > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(0,0,0,0.92); */
    background-color: #2F2F2F;
    height: 48px;
    z-index: 2;
}

.mobile > div:first-child {
    background-color: #000;
}

.hamburger {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger div {
    width: 17px;
    height: 1px;
    background: #fff;
    border-radius: 0.5px;
    margin: 3px;
}

.close div:first-child {
    transform: rotate(45deg);
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    margin: -1px;
}

.close div:last-child {
    transform: rotate(-45deg);
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    margin: 0px;
}

.apple-icon {
    background-image: url(../images/apple_sm.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 48px;
    padding: 0px 10px;
}

.cart-icon {
    background-image: url(../images/shopping_bag.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 17px;
    height: 48px;
    padding: 0px 16px;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.closed-menu {
    position: absolute;
    animation: closeNav .44s ease-out;
    width: 100%;
}

@keyframes closeNav {
    0%{
        height: 100vh;
        visibility: visible;
        background-color: #000;
    }
    
    100% {
        height: 0px;
        visibility: collapse;
        background: transparent;
    }
}

.closed-menu > div {
    visibility: hidden;
    transition: visibility .3s ease-in;
}

.closed-menu > ul {
    list-style-type: none;
    visibility: hidden;
    transition: visibility .3s ease-in;
}

.closed-menu > ul > li {
    text-align: left;
}

.mobile-menu {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    animation: openNav .5s ease-in;
}

@keyframes openNav {
    0% {
        height: 0px;
        visibility: collapse;
    }

    100% {
        height: 100vh;
        visibility: visible;
    }
}

.mobile-menu > div {
    position: absolute;
    width: 100%;
    padding-bottom: 17px;
    border-bottom: 1px solid #6e6e73;
    transition: border-bottom .44s ease-in;
    transition-delay: .3s;
}

.mobile-menu > div > div {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0px 10px;
    margin: 0px 10px;
    color: #6e6e73;
    font-size: 17px;
    border-radius: 7px;
    background-color: #1D1D1F;
    transition: visibility .44s ease-in;
    transition-delay: .3s;
}

.search {
    width: 13px;
    height: 13px;
    margin-right: 10px;
    background-image: url('https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_small.svg');
}

.mobile-menu ul {
    position: absolute;
    list-style-type: none;
    /* top: 53px; */
    padding: 45px 40px 8px;
    box-sizing: border-box;
    width: 100%;
}

.mobile-menu li {
    border-bottom: 1px solid #6e6e73;
    text-align: left;
    transition: visibility 1s linear;
    transition-delay: .5s;
}

.tablet {
    display: none;
}

@media screen and (min-width: 768px){
    .closed-menu {
        display: none;
    }

    .apple-icon {
        margin-left: 12px;
    }
    .cart-icon { 
        margin-right: 12px;
    }

    .tablet {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-size: 14px;
        width: 100%;
    }

    .tablet img {
        padding: 0 10px;
    }

    .search {
        background-size: 18px 80px;
        background-repeat: no-repeat;
        background-position: 10px 0;
        width: 18px;
        height: 48px;
        padding: 0 10px;
        background-image: url(https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_large.svg);
    }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .container { 
        display: flex;
        justify-content: center;
    }

    .container > div {
        flex: 0 0 980px;
    }

}