.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.92);
    height: 48px;
    width: 100%;
}

.hamburger {
    width: 48px;
    height: 48px;
}

.apple-icon {
    background-image: url(../images/apple_sm.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 48px;
    padding: 0px 10px;
}

.cart-icon {
    background-image: url(../images/shopping_bag.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 17px;
    height: 48px;
    padding: 0px 16px;
}