.container {
    width: 100%;
    background-color: #2F2F2F;
    position: fixed;
}

.container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(0,0,0,0.92); */
    background-color: #2F2F2F;
    height: 48px;
}

.hamburger {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger div {
    width: 17px;
    height: 1px;
    background: #fff;
    border-radius: 0.5px;
    margin: 3px;
}

.apple-icon {
    background-image: url(../images/apple_sm.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 48px;
    padding: 0px 10px;
}

.cart-icon {
    background-image: url(../images/shopping_bag.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 17px;
    height: 48px;
    padding: 0px 16px;
}

.tablet {
    display: none;
}

@media screen and (min-width: 768px){
    .apple-icon {
        margin-left: 12px;
    }
    .cart-icon { 
        margin-right: 12px;
    }

    .tablet {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-size: 14px;
        width: 100%;
    }

    .tablet img {
        padding: 0 10px;
    }

    .search {
        background-size: 18px 80px;
        background-repeat: no-repeat;
        background-position: 10px 0;
        width: 18px;
        height: 48px;
        padding: 0 10px;
        background-image: url(https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_large.svg);
    }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .container { 
        display: flex;
        justify-content: center;
    }

    .container > div {
        flex: 0 0 980px;
    }

}