.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-bottom: 12px;;
}

.container h2 {
    font-size: 32px;
}

.container h3 {
    font-size: 19px;
}

.container p, .container a{
    font-size: 17px;
}

.dark-theme {
    color: white;
}