.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-bottom: 12px;
}

.bkgr-0 {
    background-image: url('https://www.apple.com/v/home/y/images/heroes/imac/hero_imac_avail__zbofyl96mzmm_small_2x.jpg');
    background-position: center;
    background-size: cover;
}

.bkgr-1 {
    background-image: url('https://www.apple.com/v/home/y/images/heroes/iphone-12-purple/hero_iphone_12_purple__eybnx2ju5mky_small_2x.jpg');
    background-position: center;
    background-size: cover;
}

.bkgr-2 {
    background-image: url('https://www.apple.com/v/home/y/images/heroes/ipad-pro/hero_ipad_pro__gl982dtu49im_small_2x.jpg');
    background-position: center;
    background-size: cover;
}

.bkgr-3 {
    background-image: url('https://www.apple.com/v/home/y/images/promos/airtag/promo_airtag__e6b73a64nno2_small_2x.jpg');
    background-position: center;
    background-size: cover;
}

.bkgr-4 {
    background-image: url('https://www.apple.com/v/home/y/images/promos/watch-series-6/promo_watch_series_6_lte__f8lrasjnry2y_small_2x.jpg');
    background-position: center;
    background-size: cover;
}

.bkgr-5 {
    background-image: url('https://www.apple.com/v/home/y/images/promos/mothers-day/tile_lastchance__eos89elmgi6a_small_2x.jpg');
    background-position: center;
    background-size: cover;
}

.bkgr-6 {
    background-image: url('https://www.apple.com/v/home/y/images/promos/apple-card/tile__cauwwcyyn9hy_small_2x.jpg');
    background-position: center;
    background-size: cover;
}

.text {
    padding-top: 37px;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: .7em;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    color: #06c;
}

.links div {
    display: flex;
}

.chevron {
    background-image: url(../images/icons8-chevron-right-30.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 24px;
    background-size: contain;
    margin-left: 0.3em;
}

.links > div:last-child {
    margin-left: 27px;
}

.container h2 {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
}

.container h3 {
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
    margin-top: 2px;
}

.container p {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    margin-top: 6px;
    color: #86868b;
}

.dark-theme {
    color: white;
}

@media screen and (min-width: 734px){
    .container {
        height: 650px;
    }
    .bkgr-0 {
        background-image: url('https://www.apple.com/v/home/y/images/heroes/imac/hero_imac_avail__zbofyl96mzmm_medium_2x.jpg');
    }
    
    .bkgr-1 {
        background-image: url('https://www.apple.com/v/home/y/images/heroes/iphone-12-purple/hero_iphone_12_purple__eybnx2ju5mky_medium_2x.jpg');
    }
    
    .bkgr-2 {
        background-image: url('https://www.apple.com/v/home/y/images/heroes/ipad-pro/hero_ipad_pro__gl982dtu49im_medium_2x.jpg');
    }
}

@media screen and (min-width: 1069px){
    .container {
        height: 692px;
    }
}