.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f5f5f7;
    padding: 0 16px;
    color: #86868b;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}


.container section:first-of-type {
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 11px;
    margin-top: 0.8em;
}

.container ul {
    list-style: none;
    padding-inline-start: unset;
    text-align: left;
    margin: 0px;
}

.container li {
    font-size: 12px;
    padding-bottom: 0.8em;
}

.container li  a, .container section:nth-child(2) li {
    text-decoration: none;
    color: #515154;
    cursor: pointer;
}

.container li  a:hover, .container section:nth-child(2) li:hover {
    text-decoration: underline;
}

.container section:nth-child(2) {
    padding-top: 20px;
    width: 100%;
}


.container section:nth-child(2) > div, .container section:nth-child(2) > div > div:not(:last-child){
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d7;
}

.container .unhide {
    position: static;
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    padding-bottom: 16px;
    padding-top: 5px;
}

.container .hide {
    position: absolute;
    visibility: hidden;
    transform: translateY(-100px);
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-bottom: 16px;
    padding-top: 5px;
}

.container section:nth-child(2) li {
    padding: 6px 14px;
}

.container button {
    background: transparent;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px 0px;
    font-size: 12px;
    color: #1D1D1F;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.container .plus {
    font-size: 14px;
    margin-top: -2px;
    margin-right: 8px;
}

.container .transform {
    transform: rotate(45deg);
}

.container section:last-child {
    padding-top: 17px;
    padding-bottom: 19px;
}

.container section:last-child a {
    color: #06c;
    text-decoration: none;
    cursor: pointer;
}

.container section:last-child a:hover {
    text-decoration: underline;
}

.container section:last-child > div:nth-child(2), .legal-links {
    color: #515154;
}

.container section:last-child > div {
    padding-bottom: 8px;
    margin-bottom: 7px;
    text-align: left;
}

.container .legal-links {
    display: flex;
    flex-wrap: wrap;
}

.container .legal-links div {
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    margin-top: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.container .legal-links div:hover {
    text-decoration: underline;
}

.container .legal-links div:last-child {
    border-right: none;
}

@media screen and (min-width: 768px){
    .container {
        padding: 22px;
    }

    .container section {
        max-width: 980px;
        margin: 0 auto;
    }
    .container section:nth-child(2) > div, .container section:nth-child(2) > div > div:not(:last-child) {
        border-bottom: none;
    }
    
    .container .plus {
        display: none;
    }
    
    .container section:nth-child(2) {
        display: flex;
    }
    
    .container section:nth-child(2) button {
        margin-right: 20px;
        font-weight: 600;
        color: rgb(29, 29, 31);
    }
    
    .container .hide {
        margin-right: 20px;
        visibility: visible;
        position: static;
        transform: none;
    }
    
    .container section:nth-child(2) li {
        padding: 6px 0px;
    }
    
    .container .column {
        flex-basis: 25%;
    }

    .container section:last-child {
        width: 100%;
    }
    .container section:last-child > div:first-child {
        border-bottom: 1px solid #d2d2d7;
    }
    
    .container section:last-child > div:nth-child(2) {
        float: right;
        margin-top: 5px;
    }

    .container section:last-child > div:last-child > div:first-child {
        margin-top: 5px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 874px) {
    .container section:last-child > div:last-child {
        display: flex;
    } 
}